extend layout 

block content 

  h1=title 

  if actor_list.length 
    ul 
      each actor in actor_list 
        li 
          a(href=actor.url) #{actor.name} 
          | (#{actor.lifespan})
  else 
    p There are no actors